.App {
  font-family: sans-serif;
  text-align: center;
}
.d-flex {
  display: flex;
}
.card {
  padding: 15px;
  background: #f9f9f9;
  border: 1px solid #ddd;
}
li {
  display: inline-block;
  margin-right: 10px;
}
